.header {
  background-color: $color-1;
  min-width: 1440px;
  height: 91px;
  display: flex;

  img {
    margin: 18px 0 0 28px;
    width: 178px;
    height: 70px;
    margin-right: 62px;
    cursor: pointer;
  }
  ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    li {
      color: $color-2;
      font-size: 24px;
      padding-top: 36px;
      cursor: pointer;
    }
  }
}
